{{ $page := .page }}

{{ if .item }}
<div class="row">
  {{ range .item }}
  <div class="col-12 col-lg-6">
    <div class="card experience">
      
      {{ with .company_logo }}
      <div class="card-image" style="margin-top: 0.5rem;">
        <img src="{{ printf "/media/icons/brands/%s.svg" . | relURL }}" alt="{{ . }}" style="height: 40px;">
      </div>
      {{ end }}

      <div class="card-body">
        <h4 class="card-title">{{ .title }}</h4>
        <h5 class="card-subtitle">{{ .organization }}</h5>
        <div class="card-text">
          {{ with .description }}
          <p>{{ . | markdownify }}</p>
          {{ end }}
          {{ with .url }}
          <p><a href="{{ . }}" target="_blank" rel="noopener">Learn more</a></p>
          {{ end }}
        </div>
        <div class="text-muted">
          {{ if .date_end }}
            {{ .date_start | time.Format ($page.Params.date_format | default "Jan 2006") }} – {{ .date_end | time.Format ($page.Params.date_format | default "Jan 2006") }}
          {{ else }}
            {{ .date_start | time.Format ($page.Params.date_format | default "Jan 2006") }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
